body {
    background: #581949;
    font-family: Verdana, Arial, sans-serif;
    font-size: 2vh;
}

#cloud {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}
.word {
    position: absolute;
    color: #f2a5c0;
    font-size: 1.5em;
    text-transform: lowercase;
}

.word.small {
    font-size: 1em;
}
.word.emphasized {
    font-size: 2.5em;
}

a.word {
    color: #bada55;
    text-decoration: none;
    text-transform: uppercase;
}

a.word:hover {
    color: #7B9B18;
}
